*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
}
/* body{
	font-family: 'Roboto', sans-serif;	
} */
a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
}
li{
	list-style: none;
}
img{
	display: flex;
}
.align-item-center{
	align-items: center;
}
.justify-content-space-between{
	justify-content: space-between;
}
.justify-content-center{
	justify-content: center;
}
.display-flex{
	display: flex;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.w-2{
	width: 50%;
}
.w-20{
	width: 50%;
}
.w-3{
	width: 33.33%;
}
.w-4{
	width: 25%;
}
.w-5{
	width: 20%;
}
.w-40{
	width: 40%;
}
.w-6{
	width: 60%;
}
.padding-y{
	padding: 130px 0;
}

/*header*/


.header{
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ffffff4f;	
}
.header-container{
	max-width: 90%;
	margin: 0 auto;
}
.header nav ul li{
	padding: 25px 15px;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
}
.header div:last-child a{
      margin: 15px;
      font-size: 14px;
}
.header-main{
	position: relative;
}
.manu i{
	font-size: 30px;
	color: #fff;
	display: none;
}

.hover{
	position:absolute;
	width: 100%;
	height: auto;
	background-color: #232323e3;
	z-index: 1;
	top: 0%;
	display: none;
	padding: 30px 0;
}
.hover-main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.hover ul li{
	padding: 15px 0px;
	font-size: 25px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
}
.hover-icon i{
	margin: 0 10px;
}
.close{
	right: 20px;
	top: 20px;
    position: absolute;
}
.close i{
	font-size: 30px;
	color: #fff;	
}


/*banner*/

.banner{
	background-image: url(../image/banner-slider.jpg);
	background-size: cover;
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
}
.banner .banner-inner{
	text-align: center;
	color:#fff;
	width: 40%;	
}
.banner .banner-inner h1{
    font-size: 100px;
    line-height: 95px;
    margin-bottom: 15px;
    font-weight: 700; 
}
.banner .banner-inner p{
	font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
    opacity: 0.6;
}
.banner .banner-inner .btn{
	display: inline-block;
	font-size: 12px;
	padding: 13px 25px;
	background-color: #fff;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	position: relative;
	overflow: hidden;
	color: #232323;
	transition: 0.4s all ease;
	z-index: 9;
}
.banner .banner-inner .btn:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	top: 0;
	left: 0;
	/*z-index: 99;*/
	transform: translateY(-100%);
	transition: 0.4s all ease;
	z-index: -1;

}
.banner .banner-inner .btn:hover:after{
	transform: translate(0%);
}
.banner .banner-inner .btn:hover{
	color: #fff;
}

/*about*/

.about-contant{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
}
.about-contant .about-contant-inner h2{
	    color: #232323;
	    font-weight: 600;
	    font-size: 48px;
        line-height: 54px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom:25px ;
}
.about-contant .about-contant-inner p{
	margin-bottom: 25px;
	font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
}
.about-contant .about-contant-inner a{
	display: inline-block;
    color: #fff;
    padding: 13px 35px;
    letter-spacing: 0.5px;
    line-height: inherit;
    background-color: #232323;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 0.4s all ease;
    font-size: 12px;
}
.about-contant .about-contant-inner a:hover{
	background-color: #ff214f;
}

/*service*/

.heading{
	text-align: center;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 100px;
}
.heading p{
   margin-bottom: 15px;
   color: #939393;
   font-size: 12px;
   line-height: 20px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
}
.heading h2{
	font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #232323;
    font-family: 'Montserrat', sans-serif;
}
.service-list{
	text-align: center;
}
.service-list .w-3{
	padding: 0 80px;
}
.service-list .w-3 h2{
	margin-bottom: 20px;
	font-weight: 300;
	color: #ff214f;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
    line-height: 46px;
}
.service-list .w-3 h3{
	font-size: 18px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    color: #232323;
}
.service-list .w-3 p{
	font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
}
.service-list .w-3 a{
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #232323;
    font-size: 12px;
    border-bottom: 1px solid #232323;
    transition: 0.4s all ease;
}
.service-list .w-3 a:hover{
	color: #ff214f;
	border-color: #ff214f;
}

/* Gallary */

.portfolio-heading{
	margin: 8% 0;
	padding: 0 15px;
	width: 50%;
	text-align: center;
}
.portfolio-heading p{
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	color: #939393;
	margin-bottom: 15px;
}
.portfolio-heading h2{
	font-size: 32px;
	line-height: 40px;
	color: #232323;
	margin-bottom: 15px;
	font-weight: 600;
}
.overflow-hidden{
	overflow: hidden;
}
.gallery{
	width: 100%;
	padding: 0 15px;
}
.gallery .gallery-inner img{
	display:block;
	width: 100%;
	padding: 0 2px;
}
.gallery .gallery-inner .gallery-content{
	position: relative;	
	transition: 0.4s all;
}
.gallery .gallery-inner .gallery-content .gallery-text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;	
}
.gallery .gallery-inner .gallery-content .gallery-text h3{
	font-size: 14px;
	font-weight: 900;
	color: #000;
	margin-bottom: 5px;
}
.gallery .gallery-inner .gallery-content .gallery-text p{
	font-size: 10px;
	font-weight: 500;
	color: #939393;
}
.gallery .gallery-inner .gallery-content:hover{
	transform: translateY(-110px);
}

/*subject*/

.subject .w-20:first-child .head-contant span{
	margin-bottom: 25px;
   color: #939393;
   font-size: 12px;
   line-height: 20px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
}
.subject .w-20:first-child .head-contant h2{
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #232323;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 35px; 
}
.subject  .head-contant  p{
   margin-bottom: 25px;
   color: #6f6f6f;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}
.subject  .head-contant  a{
	padding: 12px 30px;
	border-radius: 50px;
	border: 2px solid #232323;
	color: #232323;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	transition: 0.4s all ease;
}
.subject  .head-contant  a:hover{
	background-color: #ff214f;
	color: black;
}
.subject-heading{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	padding-top: 20%;
}
.subject-contant{
	text-align: center;
	padding: 50px 40px;
	margin: 0 20px 20px 10px;
	background-color: #fff;
	border-radius: 10px;
	transition: 0.4s all ease;
}
.subject-contant:nth-child(2) {
  background: red;
}
.subject-contant:hover{
	background-color: #ff214f;
	color: #fff;
}
.subject-contant:hover i,.subject-contant:hover h3,.subject-contant:hover p{
	color: #fff;
}
.subject-contant i{
    margin-bottom: 20px;
	color: #ff214f;
	font-size: 60px;
    line-height: 46px;
    transition: 0.9s all ease;
}
.subject-contant h3{
	font-size: 18px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    color: #232323;
    transition: 0.9s all ease;
}
.subject-contant p{
	font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
    transition: 0.9s all ease;
}

/*video*/


.video-img{
	background-image: url(../image/video-1.jpg);
	height: 100vh;
	background-size: cover;
	position: relative;
	background-position: center;
}
.video-img .play-icon{	
    width: 120px;
    height: 120px;
    text-align: center;
    background-image: linear-gradient(to right top, #ff8e43, #ff7a41, #ff6343, #ff4848, #ff214f);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: -65px;
}
.video-img .play-icon i{
	line-height: 120px;
    font-size: 40px;
    color: #fff;
}
.video-contant{
	padding: 10% 15% 10% 15%;
}
.video-contant h2{
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
    color: #232323;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 35px; 
    padding-right: 25%;
}
.video-contant  p:nth-child(2){
   margin-bottom: 25px;
   color: #6f6f6f;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}
.video-contant  p:nth-child(2){
   margin-bottom: 25px;
   color: #6f6f6f;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
}
.video-contant  p i{
	margin: 0 10px;
	font-size: 18px;
	font-weight: 700;
	color:#000;
}
.video-contant a{
	padding: 12px 30px;
	border-radius: 50px;
	border: 2px solid #232323;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	transition: 0.4s all ease;
	margin-top: 40px;
	background-color: orange;
}
.video-contant a:hover{
	background-color: #fff;
	color: orange;
}

 /*team*/

.team-img{
	background-image: url(../image/loco.jpg);
	height: 850px;
	background-size: cover;
	background-position: center;
}
.team-contant{
	padding-top: 160px;
}

/*blog*/

.blog-contant a{
	font-size: 16px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #232323;
    margin-bottom: 15px;
    text-transform: lowercase;
}
.blog-contant p{
	font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
}
.blog-contant span,.blog-contant span a{
	font-size: 11px;
    line-height: 14px;
    color: #6f6f6f;
    margin-left: 5px;
    
    padding-top:20px;
}
.line{
	width: 100%;
	height: 1px;
	background-color: #dbdbdb;
	margin-top: 20px;
}
.blog1{
	padding: 15px;
}
.blog-contant{
	padding: 40px;
}
.blog-img{
	position: relative;
}

/*footer*/

.footer{
	background-color: #1c1c1c;
	padding-top: 90px;
    padding-bottom: 90px;
}
.footer-p h5{
   margin-bottom: 5px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    margin-left: 25px;
    color: #fff;
}
.footer-p p{
	font-size: 16px;
    line-height: 23px;
    color: #6f6f6f;
    font-weight: 400;
    margin-left: 25px;
}
.footer-p a{
    font-size: 13px;
    padding: 9px 34px;
    line-height: 25px;
    border: 2px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: inline-block;
}
.footer-main{
	padding-top:50px;
	margin-top: 80px;
	border-top: 1px solid #dee2e626;
}
.footer-main p,.footer-main a{
	font-size: 16px;
    line-height: 23px;
    color: #6f6f6f;
    font-weight: 400;
    text-transform: lowercase;
}
.footer-main p{
	padding: 0 30px;
}
.footer-main .w-4:nth-child(3){
	padding-left: 50px;
}
.footer-main i{
	color: #fff;
	font-size: 15px;
	margin: 0 10px;
}
.footer-icon{
	    text-align: right;
}



